{% extends 'partials/base2.html' %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-warning" role="alert">
        <h2>Set New Password</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block">Change Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}